<!DOCTYPE html>
{% load static %}
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
    <link rel="icon" type="image/x-icon" href="{% static 'images/favicon.ico' %}">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>
<main>
<header>
    <div class="container">
        <img src="{% static 'images/logo_notext.png' %}" alt="Логотип сайта" class="logo">
        <nav>
            <a href="{% url 'home' %}">Главная</a>
            <a href="{% url 'about' %}">О нас</a>
            <a href="#">Контакты</a>
        </nav>
    </div>
</header>

{% block content %}
{% endblock %}
</main>

<footer>
    <div class="container">
        <p>&copy; 2025 Каталог татарских предприятий. Все права защищены.</p>
    </div>
</footer>
</body>

<script src="{% static 'js/script.js'%}"></script>
</html>